<form method="post" action="/pizza_orders/<%=@order.id%>">
  <label for='first_name'>First Name: </label>
  <input type="text" id="first_name" name="first_name"/>

  <label for='last_name'>Last Name: </label>
  <input type="text" id="last_name" name="last_name"/>

  <label for="topping">Topping</label>
  <select id= "topping name" name="topping">
    <option value="pepperoni">Meatballs</option>
    <option value="hawayan">Rustica</option>
    <option value="veggie">Diavolo</option>
  </select>

  <label for='quantity'>Quantity</label>
  <input type="number" id = "quantity" name="quantity"/>

<input type="submit" value="UPDATE">
</form>
